* {
  margin: 0;
  padding: 0;
  color: #707070;
  font-family: 'Helvetica';
  font-style: italic;
}

body {
  background-color: #f7f7f7;
}

header {
  position: sticky;
  top: 0;
  background: #f7f7f7;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ebebeb;
  font-weight: bold;
  font-size: 20px;
  padding-left: 130px;
  padding-right: 200px;
}

.header1,
.header2,
.logout,
.game-config-add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding-right: 74px;
  font-size: 44px;
}

.marker {
  width: 107px;
  height: 7px;
  border-radius: 6px;
  background: #b5c401;
}

.account-button {
  margin-right: 40px;
}

.content {
  margin-left: 130px;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.game-container {
  max-width: 650px;
  margin-top: 32px;
}

.game-name-container {
  display: flex;
  margin-bottom: 33px;
}

.game-name {
  margin-left: 4px;
  font-weight: 300;
}

.game-config-add-to-cart-button {
  margin-top: 44px;
}

.select-game-buttons-container {
  margin: 20px 0 28px;
}

.select-game {
  border-radius: 100px;
  width: 113px;
  height: 34px;
  background: #ffffff;
  font-weight: bold;
  margin-right: 20px;
  font-size: 14px;
}

.megasena {
  border: 2px solid #01ac66;
  color: #01ac66;
}

.megasena[active='true'] {
  background: #01ac66;
  border: 2px solid #01ac66;
  color: #ffffff;
}

.lotomania {
  border: 2px solid #f79c31;
  color: #f79c31;
}

.lotomania[active='true'] {
  background: #f79c31;
  border: 2px solid #f79c31;
  color: #ffffff;
}

.lotofacil {
  border: 2px solid #7f3992;
  color: #7f3992;
}

.lotofacil[active='true'] {
  background: #7f3992;
  border: 2px solid #7f3992;
  color: #ffffff;
}

.game-description {
  font-weight: 300;
  margin-top: 4px;
}

.numbers-cell {
  background: #adc0c4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
  margin: 10px 6px;
}

.numbers-cell[selected='true'] {
  background: #27c383;
}

.clear-game,
.complete-game {
  border: 1px solid #27c383;
  border-radius: 10px;
  color: #27c383;
  padding: 16px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-right: 25px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  background: #27c383;
  border: 1px solid #27c383;
  border-radius: 10px;
  color: #ffffff;
  padding: 14px 42px 14px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.add-to-cart i {
  color: #ffffff;
  margin-right: 24px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 317px;
  height: min-content;
}

.cart-content {
  margin: 32px 16px 0 16px;
  height: auto;
}

.cart-content h2 {
  margin-bottom: 36px;
}

.game-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 32px;
}

.cart-divisor {
  min-width: 4px;
  height: 100px;
  border-radius: 100px 0 0 100px;
  margin-left: 14px;
}

.cart-divisor[game='Lotomania'] {
  background: #f79c31;
  height: 150px;
}

.cart-divisor[game='Lotofácil'] {
  background: #7f3992;
}

.cart-divisor[game='Mega-Sena'] {
  height: 60px;
  background: #01ac66;
}

.game-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

h4[game] {
  margin-right: 14px;
  font-size: 16px;
}

h4[game='Lotomania'] {
  color: #f79c31;
}

h4[game='Lotofácil'] {
  color: #7f3992;
}

h4[game='Mega-Sena'] {
  color: #01ac66;
}

.game-infos {
  margin-left: 12px;
}

.cart-numbers {
  font-size: 15px;
  color: #868686;
  letter-spacing: 0px;
}

.game-name-price {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

i {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.final-value-container {
  display: flex;
  margin-left: 18px;
  margin-bottom: 47px;
}

.total {
  font-weight: 300;
  font-style: normal;
  padding-left: 6px;
}

.save-button {
  width: 100%;
  color: #27c383;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  padding: 28px 0;
}

.save-button h2 {
  color: #27c383;
  font-size: 35px;
}

.save-button i {
  color: #27c383;
  margin-left: 18px;
  font-size: 24px;
}

footer {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ebebeb;
  margin-top: 160px;
}

footer h4 {
  font-size: 14;
  font-weight: 400;
  font-style: normal;
}
