* {
  margin: 0;
  padding: 0;
  color: #707070;
  font-family: 'Helvetica';
  font-style: italic;
}

body {
  background-color: #f7f7f7;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ebebeb;
  font-weight: bold;
  font-size: 20px;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding-right: 74px;
  font-size: 44px;
}

.marker {
  width: 107px;
  height: 7px;
  border-radius: 6px;
  background: #b5c401;
}

.account-button {
  margin-right: 40px;
}

.game-container {
  max-width: 600px;
}

.game-name-container {
  display: flex;
  margin-bottom: 33px;
}

.game-name {
  margin-left: 4px;
  font-weight: 300;
}

.select-game-buttons-container {
  margin-top: 20px;
  margin-bottom: 28px;
}

.select-game {
  border-radius: 100px;
  width: 113px;
  height: 34px;
  background: #ffffff;
  font-weight: bold;
  margin-right: 20px;
  font-size: 14px;
}

.megasena {
  border: 2px solid #01ac66;
  color: #01ac66;
}

.megasena[active='true'] {
  background: #01ac66;
  border: 2px solid #01ac66;
  color: #ffffff;
}

.lotomania {
  border: 2px solid #f79c31;
  color: #f79c31;
}

.lotomania[active='true'] {
  background: #f79c31;
  border: 2px solid #f79c31;
  color: #ffffff;
}

.lotofacil {
  border: 2px solid #7f3992;
  color: #7f3992;
}

.lotofacil[active='true'] {
  background: #7f3992;
  border: 2px solid #7f3992;
  color: #ffffff;
}

.game-description {
  font-weight: 300;
  margin-top: 4px;
}

.content {
  padding-left: 130px;
  padding-top: 73px;
  display: flex;
}

.numbers-cell {
  background: #adc0c4;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
  margin: 10px 6px;
}

.numbers-cell[selected='true'] {
  background: #27c383;
}

.cart-container {
  margin-left: 41px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 317px;
}

.cart-content {
  margin: 32px 16px;
}

.game-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 32px;
}

.cart-divisor {
  width: 4px;
  height: 86px;
  background: darkblue;
  border-radius: 100px;
  margin-left: 14px;
}

i {
  cursor: pointer;
}

.price-container {
  display: flex;
}

.price {
  font-weight: 300;
  margin-left: 4px;
}

.save-button {
  width: 100%;
  color: #27c383;
  font-size: 35px;
}
.save-button h2 {
  color: #27c383;
}

footer {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ebebeb;
  margin-top: 160px;
}
